.console{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:1000000;
  overflow:scroll !important;
  -webkit-overflow-scrolling: touch !important;
  padding:20px;
  background:rgb(255,255,255);
  color:rgb(0,0,0);
  display:none;
}
.console div.line{
  margin-bottom:15px;
}
.console div.warning:before{
  content:'WARNING';
  display:block;
  color:rgb(235,145,0);
}
.console div.error:before{
  content:'ERROR';
  display:block;
  color:rgb(255,0,0);
}