body{
  font-family:'lato';
  font-weight:300;
  font-size:12px;
  overflow:hidden;
  background:rgb(255,255,255);
  position:fixed;
  top:20px;
  left:0px;
  bottom:0px;
  width:100%;
}


.scrollable{
  overflow-x:hidden !important;
  overflow-y:scroll !important;
  -webkit-overflow-scrolling: touch !important;
}


.statusbar{
  display:block;
  position:fixed;
  top:0px;
  left:0px;
  height:20px;
  width:100%;
  background:rgb(255,255,255);
  z-index:0;
}