div.button{
  display:inline-block;
  position:relative;
  padding:6px 14px;
  border-bottom:3px solid rgb(82,181,195);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background:rgb(102,201,215);
  color:rgb(255,255,255);
  outline:none;
  cursor:pointer;
  text-align:center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.button:hover:not(.disabled){
  border-bottom-width:2px !important;
  margin-top:1px !important;
}
div.button:active:not(.disabled){
  border-bottom-width:1px !important;
  margin-top:2px !important;
}
div.button.disabled{
  cursor:not-allowed;
}




input[type='text'],
input[type='password']{
  width:300px;
  padding:5px 7px;
  border:1px solid rgb(200,200,200);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline:none;
}
input[type='text']:hover:not(:disabled):not(:focus),
input[type='password']:hover:not(:disabled):not(:focus){
  border:1px solid rgb(180,180,180);
}
input[type='text']:focus,
input[type='password']:focus{
  border:1px solid #4285f4;
  box-shadow:0px 0px 1px #4285f4;
}
input[type='text']:disabled,
input[type='password']:disabled{
  cursor:not-allowed;
}