div.datepicker div.frame{
  position:absolute;
  top:80px;
  bottom:0px;
  width:400px;
  left:0px;
  right:0px;
  margin:0px auto;
  background:rgb(255,255,255);
  -webkit-border-top-left-radius:  2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft:      2px;
  -moz-border-radius-topright:     2px;
  border-top-left-radius:          2px;
  border-top-right-radius:         2px;
  padding:8px 0px;
  z-index:0;
  overflow:hidden;
}
div.datepicker div.title{
  font-size:19px;
  color:rgb(200,200,200);
  padding:11px 30px;
  font-weight:100;
}
div.datepicker div.scroller{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  bottom:100px;
  overflow:scroll;
}
div.datepicker div.contacts{
  margin-bottom:20px;
}


div.datepicker div.dateframe{
  border:1px solid rgb(240,240,240);
  -webkit-border-radius: 2px;
  -moz-border-radius:    2px;
  border-radius:         2px;
  width:220px;
  margin:6px auto;
  font-size:14px;
}
div.datepicker div.dateframe div.row:not(:first-child) div.item{
  border-top:1px solid rgb(240,240,240);
  border-bottom:1px solid rgb(240,240,240);
}
div.datepicker div.dateframe div.row.i5 div.item{
  width:20%;
}
div.datepicker div.dateframe div.row.i3 div.item{
  width:33.3%;
}
div.datepicker div.dateframe div.row div.item{
  cursor:pointer;
  float:left;
  text-align:center;
  padding:14px 0px;
  border-right:1px solid rgb(240,240,240);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
div.datepicker div.dateframe div.row div.item:not(.selected):hover{
  background:rgb(245,245,245);
  border-color:rgb(245,245,245);
}
div.datepicker div.dateframe div.row div.item.selected{
  background:rgb(102,201,215);
  border-color:rgb(102,201,215);
  color:rgb(255,255,255);
}
div.datepicker div.dateframe div.row div.item.noborder{
  border-right:none;
}
div.datepicker div.dateframe div.row.custom{
  text-align:center;
  color:rgb(180,180,180);
  font-style:italic;
}


div.datepicker div.custom div.text{
  padding:22px 0px;
  cursor:pointer;
}
div.datepicker div.custom div.picker{
  display:none;
  overflow:hidden;
  font-style:normal;
  line-height:16px;
  text-align:left;
  color:rgb(51,51,51);
}
div.datepicker div.custom.show div.picker{
  display:block;
}
div.datepicker div.custom.show div.text{
  display:none;
}
div.datepicker div.custom div.picker div.top{
  position:relative;
  margin:6px 0px;
}
div.datepicker div.custom div.picker div.top div.left{
  float:left;
}
div.datepicker div.custom div.picker div.top div.right{
  float:right;
}
div.datepicker div.custom div.picker div.top div.right,
div.datepicker div.custom.show div.picker div.top div.left{
  padding:6px 10px;
  margin:0px 6px;
  vertical-align:top;
  cursor:pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;
  color:rgb(102,102,102);
}
div.datepicker div.custom div.picker div.top div.right:hover,
div.datepicker div.custom div.picker div.top div.left:hover{
  background:rgb(240,240,240);
}
div.datepicker div.custom div.picker div.top div.main{
  position:absolute;
  left:37px;
  right:37px;
  top:0px;
  padding:6px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;
  cursor:pointer;
  text-align:center;
  font-weight:400;
}
div.datepicker div.custom div.picker div.top div.main:hover{
  background:rgb(240,240,240);
}
div.datepicker div.custom div.picker div.weekdays{
  font-size:13px;
  margin:2px 6px;
}
div.datepicker div.custom div.picker div.weekdays div{
  width:14.28%;
  text-align:center;
  display:inline-block;
}
div.datepicker div.custom div.picker div.days{
  margin:8px 6px;
}
div.datepicker div.custom div.picker div.days div.day{
  float:left;
  width:14.28%;
  text-align:center;
  color:rgb(0,0,0);
  padding:4px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;
  cursor:pointer;
}
div.datepicker div.custom div.picker div.days div.day:not(.not-allowed):not(.selected):hover{
  background:rgb(240,240,240);
}
div.datepicker div.custom div.picker div.days div.day.selected{
  background:rgb(102,210,215);
  color:rgb(255,255,255);
}
div.datepicker div.custom div.picker div.days div.day.not-allowed{
  cursor:not-allowed;
  color:rgb(200,200,200);
}


div.datepicker div.custom div.picker div.table{
  font-size:13px;
  margin:2px 6px;
}
div.datepicker div.custom div.picker div.table div.table-item{
  padding:12px 0px;
  float:left;
  width:25%;
  text-align:center;
  color:rgb(0,0,0);
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;
  cursor:pointer;
}
div.datepicker div.custom div.picker div.table div.table-item:not(.selected):hover{
  background:rgb(245,245,245);
}
div.datepicker div.custom div.picker div.table div.table-item.selected{
  background:rgb(102,210,215);
  color:rgb(255,255,255) !important;
}


div.datepicker div.custom div.picker div.timepicker{
  padding:6px 0px;
  margin:6px;
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;
  line-height:14px;
  background:rgb(235,235,235);
  font-weight:700;
  text-align:center;
}
div.datepicker div.custom div.picker div.timepicker *{
  vertical-align:middle;
}
div.datepicker div.timepicker div.select{
  padding:0px 2px;
  display:inline-block;
  cursor:pointer;
}
div.datepicker div.timepicker div.select select{
  text-align:right;
  background:transparent;
  -webkit-appearance:none;
  outline:none;
  border:none;
}





div.datepicker div.buttons{
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  height:100px;
  overflow:scroll;
  text-align:center;
  line-height:100px;
}
div.datepicker div.buttons div.check{
  display:inline-block;
  vertical-align:middle;
  background-repeat:no-repeat;
  background-size:50px 50px;
  height:50px;
  width:50px;
  margin:3px;
  cursor:not-allowed;
  background-color:rgb(200,200,200);
  -webkit-transition: background-color 500ms ease;
  -moz-transition:    background-color 500ms ease;
  -ms-transition:     background-color 500ms ease;
  -o-transition:      background-color 500ms ease;
  transition:         background-color 500ms ease;
  background-image:url(/images/datepicker/check.png);
}
div.datepicker div.buttons div.check.ready{
  background-color:rgb(102,201,215);
  cursor:pointer;
}
div.datepicker div.buttons div.arrow{
  cursor:pointer;
  position:absolute;
  left:30px;
  top:30px;
  background-repeat:no-repeat;
  background-size:50px 50px;
  height:50px;
  width:50px;
  background-image:url(/images/datepicker/arrow.png);
}