div.inbox{
  overflow:scroll;
}
div.inbox div.center{
  width:520px;
  margin:60px auto;
}
div.inbox div.gift{
  margin:12px 0px;
  background:rgb(255,255,255);
  height:68px;
  position:relative;
  -moz-box-shadow:    0px 2px 3px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
  box-shadow:         0px 2px 3px rgba(0,0,0,0.05);
}
div.inbox div.gift div.image{
  height:40px;
  width:40px;
  margin:14px;
  float:left;
  position:relative;
  overflow:hidden;
}
div.inbox div.gift div.image img{
  position:absolute;
  top:0%;
  left:0%;
  width:200%;
  height:600%;
}
div.inbox div.gift.sent div.image img{
  left:-100%;
}
div.inbox div.gift.disappearing div.image img{
  margin-top:-100%;
}
div.inbox div.gift.viewable div.image img{
  top:-200%;
}
div.inbox div.gift.read div.image img{
  top:-400%;
}



div.inbox div.gift div.text{
  position:absolute;
  left:68px;
  right:0px;
  top:0px;
  padding:13px 0px;
  font-size:11px;
  color:rgb(142,142,142);
  overflow:hidden;
  white-space:nowrap;
}
div.inbox div.gift div.text div.title{
  font-size:15px;
  color:rgb(0,0,0);
  margin:3px 0px;
}


div.inbox div.nomessages img{
  display:block;
  width:100%;
}
div.inbox div.nomessages div.h1{
  color:rgb(140,140,140);
  font-size:24px;
  text-align:center;
}