


div.sendmessage div.frame{
  position:absolute;
  top:80px;
  bottom:0px;
  width:400px;
  left:0px;
  right:0px;
  margin:0px auto;
  background:rgb(255,255,255);
  -webkit-border-top-left-radius:  2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft:      2px;
  -moz-border-radius-topright:     2px;
  border-top-left-radius:          2px;
  border-top-right-radius:         2px;
  padding:8px 0px;
  z-index:0;
  overflow:hidden;
}
div.sendmessage div.scroller{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  bottom:100px;
  overflow:scroll;
}


div.sendmessage div.title{
  font-size:19px;
  color:rgb(200,200,200);
  padding:11px 30px;
  font-weight:100;
}
div.sendmessage div.content{
  position:relative;
  margin-bottom:20px;
}

div.sendmessage div.date div.text::after{
  display:none;
}


div.sendmessage div.buttons{
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  height:100px;
  overflow:scroll;
  text-align:center;
  line-height:100px;
}
div.sendmessage div.buttons div.arrow{
  cursor:pointer;
  position:absolute;
  left:30px;
  top:30px;
  background-repeat:no-repeat;
  background-size:50px 50px;
  height:50px;
  width:50px;
  background-image:url(/images/datepicker/arrow.png);
}
div.sendmessage div.buttons div.buttonframe{
  line-height:20px;
}
div.sendmessage div.buttons div.centeredbuttonframe{
  display:inline-block;
}
