div.settings p{
  padding:0px 20px;
  font-size:12px;
  line-height:16px;
}
div.settings p.center{
  text-align:center;
}
div.settings p.warning{
  background:rgb(223,62,62);
  border:1px solid rgb(170,0,0);
  padding:6px 0px;
  margin:14px 20px;
  color:rgb(255,255,255);
  font-weight:700;
  font-size:13px;
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;
}
div.settings div.buttonframe{
  padding-top:20px;
  text-align:center;
}
div.settings div.button{
  padding: 6px 14px !important;
  color: rgb(142,142,142) !important;
  background: rgb(230,230,230) !important;
  border-color: rgb(190,190,190) !important;
}
div.settings p.big{
  font-size:14px;
  line-height:20px;
}
div.settings label.dark{
  color:rgb(0,0,0);
}
div.settings span.upper{
  display:block;
}
div.settings span.lower{
  display: block;
  color: rgb(180,180,180);
  font-size: 11px;
}





div.settings input[type='text'],
div.settings input[type='password']{
  margin:8px auto;
  display:block;
  width:244px;
  padding:5px 7px;
  border:1px solid rgb(200,200,200);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline:none;
}
div.settings input[type='text']:hover:not(:disabled):not(:focus),
div.settings input[type='password']:hover:not(:disabled):not(:focus){
  border:1px solid rgb(180,180,180);
}
div.settings input[type='text']:focus,
div.settings input[type='password']:focus{
  border:1px solid #4285f4;
  box-shadow:0px 0px 1px #4285f4;
}
div.settings input[type='text']:disabled,
div.settings input[type='password']:disabled{
  cursor:not-allowed;
}



div.settings select{
  outline: none;
  margin: 0px 20px;
  -webkit-appearance: none;
  padding: 5px 7px;
  border: none;
  background: rgb(255,255,255);
  border: 1px solid rgb(200,200,200);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 260px;
}

