div.header{
  background:rgb(102,201,215);
  padding:12px 18px;
  line-height:58px;
  font-family:'lato';
  font-weight:100;
  z-index:2;
}
div.header div.logo{
  color:rgb(255,255,255);
  font-size:34px;
  vertical-align:top;
  float:left;
  font-family:'raleway';
  cursor:default;
}
div.header div.logo img{
  vertical-align:middle;
  height:60px;
  width:60px;
  border:1px solid rgb(255,255,255);
  -webkit-border-radius: 50%;
  -moz-border-radius:    50%;
  border-radius:         50%;
}
div.header div.logo span.text{
  vertical-align:middle;
  margin-left:8px;
}
div.header div.buttons{
  float:right;
  vertical-align:top;
}
div.header.signedin div.buttons{
  opacity:1;
}
div.header div.buttons div.img{
  height:56px;
  width:56px;
  -webkit-border-radius: 50%;
  -moz-border-radius:    50%;
  border-radius:         50%;
  vertical-align:middle;
  border:2px solid rgb(255,255,255);
  position:relative;
  overflow:hidden;
  display:inline-block;
  cursor:pointer;
}
div.header div.buttons div.img div.shadow{
  -webkit-border-radius: 50%;
  -moz-border-radius:    50%;
  border-radius:         50%;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  -moz-box-shadow:    inset 0px 5px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0px 5px 20px rgba(0,0,0,0.5);
	box-shadow:         inset 0px 5px 20px rgba(0,0,0,0.5);
}
div.header div.buttons div.img img{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
div.header div.buttons img.plus{
  vertical-align:middle;
  display:inline-block;
  margin:0px 30px;
  height:36px;
  width:36px;
  cursor:pointer;
}