div.settings{
  z-index:1;
  width:0px;
  overflow:visible;
  left:initial;
  right:0px;
}
div.sidebar div.frame{
  position:absolute;
  right:0px;
  top:0px;
  height:100%;
  min-width:300px;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform:    translate3d(100%, 0, 0);
	transform:         translate3d(100%, 0, 0);
  -webkit-transition: all 400ms ease;
  -moz-transition:    all 400ms ease;
  -ms-transition:     all 400ms ease;
  -o-transition:      all 400ms ease;
  transition:         all 400ms ease;
}
div.sidebar div.frame.opened{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform:    translate3d(0, 0, 0);
	transform:         translate3d(0, 0, 0);
}
div.sidebar div.frame div.menu{
  position:absolute;
  top:0px;
  left:100%;
  width:100%;
  height:100%;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform:    translate3d(0, 0, 0);
	transform:         translate3d(0, 0, 0);
  background:rgb(255,255,255);
  -webkit-transition: left 400ms ease;
  -moz-transition:    left 400ms ease;
  -ms-transition:     left 400ms ease;
  -o-transition:      left 400ms ease;
  transition:         left 400ms ease;
  cursor:default;
  z-index:1;
  overflow:hidden;
}
div.sidebar div.frame div.menu div.scroller{
  overflow:hidden;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
div.sidebar div.frame div.menu.opened>div.scroller{
  overflow-y:scroll;
  overflow-x:hidden;
}
div.sidebar div.frame div.menu.opened.covered>div.scroller{
  overflow:hidden;
}
div.sidebar div.frame div.menu.opened{
  left:0px;
}
div.sidebar div.frame div.menu::after{
  position:absolute;
  left:0px;
  top:0px;
  height:0%;
  width:100%;
  background:rgba(0,0,0,0);
  -webkit-transition: background 400ms ease, height 0ms linear 400ms;
  -moz-transition:    background 400ms ease, height 0ms linear 400ms;
  -ms-transition:     background 400ms ease, height 0ms linear 400ms;
  -o-transition:      background 400ms ease, height 0ms linear 400ms;
  transition:         background 400ms ease, height 0ms linear 400ms;
  content:'';
}
div.sidebar div.frame div.menu.covered::after{
  -webkit-transition: background 400ms ease;
  -moz-transition:    background 400ms ease;
  -ms-transition:     background 400ms ease;
  -o-transition:      background 400ms ease;
  transition:         background 400ms ease;
  background:rgba(0,0,0,0.2);
  height:100%;
}
div.sidebar div.frame div.title{
  padding:18px 20px;
  color:rgb(102,102,102);
  font-size:20px;
  text-align:center;
}
div.sidebar div.frame div.menuitem{
  margin:0px 20px;
  padding:10px 4px;
  color:rgb(142,142,142);
  font-size:15px;
  border-top:1px solid rgb(230,230,230);
  cursor:pointer;
}
div.sidebar div.frame div.menuitem:last-child{
  border-bottom:1px solid rgb(230,230,230);
}
div.sidebar div.frame div.back{
  background:rgb(245,245,245);
  border-top:1px solid rgb(230,230,230);
  margin:0px 20px;
  padding:6px 4px;
  cursor:pointer;
  position:relative;
  overflow:hidden;
}
div.sidebar div.frame div.back.line{
  border-bottom:1px solid rgb(230,230,230);
}
div.sidebar div.notification{
  position: absolute;
  right: 30px;
  margin-top: -16px;
  color: rgb(21,21,21);
  font-size: 12px;
}